@import "transitions";

html,
body,
.site-content {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    color: white;
    letter-spacing: 0.1rem;
  }

  p,
  a {
    font-size: 14px;
  }
}

#app {
  font-family: "Poppins", sans-serif;
  background-image: url("./assets/bg2.png");
  background-repeat: no-repeat;

  .fp-tableCell {
    display: flex;
    align-items: center;
  }
}
