@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 400;
  src: url("/src/assets/fonts/MontserratAlternates-Regular.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: normal;
  font-weight: 500;
  src: url("/src/assets/fonts/MontserratAlternates-Medium.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: bold;
  font-weight: 600;
  src: url("/src/assets/fonts/MontserratAlternates-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat Alternates";
  font-style: bold;
  font-weight: 700;
  src: url("/src/assets/fonts/MontserratAlternates-Bold.ttf");
}
