@import "transitions";

#app {
  background-image: url("./assets/stars.svg");
  background-position: center;
  background-size: contain;
}

body {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(250.1deg, #091126 8.45%, #000000 99.92%);
  color: white;
}

h3,
p {
  letter-spacing: 0.1rem;
}

.full-height {
  height: 100%;
  position: relative;
  scroll-snap-align: start;
  scroll-snap-stop: normal;
}

.max-width {
  width: 100% !important;
  max-width: 320px;
  margin: 0 auto;
}
