$breakpoint-xs: 500px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1366px;

$grid-breakpoints: (
  xs: 0,
  sm: $breakpoint-xs,
  md: $breakpoint-sm,
  lg: $breakpoint-md,
  xl: $breakpoint-lg,
);

// Mixins
@mixin sm-up {
  // 768px wide or above
  @media only screen and (min-width: $breakpoint-sm) {
    @content;
  }
}

@mixin md-up {
  // 1024px wide or above
  @media only screen and (min-width: $breakpoint-md) {
    @content;
  }
}

@mixin lg-up {
  // 1366px wide or above
  @media only screen and (min-width: $breakpoint-lg) {
    @content;
  }
}
