$breakpoint-xs: 500px;
$breakpoint-sm: 768px;
$breakpoint-md: 1024px;
$breakpoint-lg: 1366px;

$grid-breakpoints: (
  xs: 0,
  sm: $breakpoint-xs,
  md: $breakpoint-sm,
  lg: $breakpoint-md,
  xl: $breakpoint-lg,
);

$gc-colours: (
  "primary": #00a8ff,
  "secondary": #b3c5ef,
  "tertiary": #272727,
);

@import "./_mixins.scss";
